body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  color: rgb(0, 0, 0);
  font-weight: 300;
  background: #f8f6ee; 
  height: 100%;
  line-height: 1.3;
  margin-top: 70px;
}

.h1-design {
  color: #973b3b;
  font-size: 2rem;
  text-align: center;
  border-bottom: 1px solid #b66b6b;
  padding-bottom: 5px;
  text-transform: uppercase;
}

