.video-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.two-video-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.two-video-container iframe {
    width: 49%;
}

.dual-container {
    display: flex;
    margin: 20px;
}

.text-container {
    flex: 3; 
    padding-right: 20px;
}

.photo-container {
    flex: 1; 
    margin: 25px;
}

.photo-container img {
    height: 200px;
    width: 200px;
    display: block; 
    border-radius: 100px;
}