.workshops-container {
    display: flex;
    align-items: stretch;
    height: max-content;
    color: #bb5a5a;
    margin: 10px;
    padding: 10px;
}

.workshopsPage-title {
    flex: 0 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: #fff2f2;
    background: #bb5a5a;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 0 2px 5px #e79e85;
    padding: 10px;
    margin-right: 20px;
    text-align: center;
    font-size: 1.2em;
}

.workshop-details {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.workshop {
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 0 2px 5px #bb5a5a;
    padding: 10px;
    margin: 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.workshop-img {
    flex: 0 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 7px;
    overflow: hidden;
    margin: 20px;
}

.workshop-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.workshop-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.workshop-info h2 {
    color: #e79e85;
    margin-bottom: 10px;
    text-align: center; /* Center the text horizontally */
}

.workshop-info p {
    margin: 0 0 10px;
    color: rgb(84, 37, 20);
}

.participate-button {
    padding: 8px 16px;
    background-color: #bb5a5a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    align-self: center; /* Center the button vertically */
}

.participate-button:hover {
    background-color: #6c2525;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .workshop {
        width: calc(100% - 20px);
        flex-direction: column;
    }

    .workshop-img {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.events-container {
    display: flex;
    align-items: stretch;
    height: max-content;
    color: #bb5a5a;
    margin: 10px;
    padding: 10px;
}

.eventsPage-title {
    flex: 0 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: #fff2f2;
    background: #bb5a5a;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 0 2px 5px #e79e85;
    padding: 10px;
    margin-right: 20px;
    text-align: center;
    font-size: 1.2em;
}

.events-details {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.event {
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 0 2px 5px #bb5a5a;
    padding: 10px;
    margin: 10px;
    width: calc(50% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.event-img {
    flex: 0 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 7px;
    overflow: hidden;
    margin: 20px;
}

.event-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.event-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.event-info h2 {
    color: #e79e85;
    margin-bottom: 10px;
    text-align: center;
}

.event-info p {
    margin: 0 0 10px;
    color: rgb(84, 37, 20);
}

.participate-button {
    padding: 8px 16px;
    background-color: #bb5a5a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    align-self: center; /* Center the button vertically */
}

.participate-button:hover {
    background-color: #6c2525;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .event {
        width: calc(100% - 20px);
        flex-direction: column;
    }

    .event-img {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 10px;
    }
}