.workshops-events-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.workshop {
  color: #6f2828;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 20px;
  border-radius: 10px;
}

.workshop-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.workshop-content p {
  margin: 5px 0;
  text-align: left;
}

.workshop button {
  background-color: #bb5a5a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  align-self: center;
}

.h2-workshop-events {
  color: #bb5a5a;
  margin-left: 20px;
}

@media screen and (max-width: 480px) {
  .workshop {
    gap: 0px;
    margin: 0px;
    margin-bottom: 15px;
  }
}
