.team-container {
  background: #eaceb4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
  color: #bb5a5a;
  padding: 40px;
  background-image: radial-gradient(circle, #f9e9e4 0.5px, transparent 0.5px);
  background-size: 10px 10px;
}

.team-member-container,
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  text-align: center;
  margin: 20px;
}

.contact-heading {
  background: #f9e9e4;
  color: #e79e85;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-shadow: 0 2px 5px #e79e85;
  padding: 10px;
  width: 300px;
  text-align: center;
  margin: 8px;
}

.team-member {
  text-align: center;
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.teamdiv h1 {
  color: #bb5a5a;
}

.teamdiv img {
  width: 130px;
  height: 130px;
}
