.posts-container {
  margin-top: 20px;
  justify-content: center;
}

.p-blogs{
  color: #973b3b;
  text-align: center;
}

.post {
  margin: 30px;
  padding: 15px;
  border: 1px solid #bb5a5a;
  color: #973b3b;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 20px;
}

.post-image {
  height: 350px;
  width: 350px;
  border-radius: 20px;
  margin-right: 20px; 
  float: left;
  margin-right: 20px;
  border: 1px solid #bb5a5a;
}

.content-blog {
  text-align: justify;
}

.content-blog h2 {
  text-align: center;
  color: #e79e85;
  font-style: oblique; 
}

.content-blog h3{
  text-align: center;
  font-size: medium;
}

.actions {
  margin-top: 10px;
}

.actions .like-button {
  margin-right: 10px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #bb5a5a;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  float: left;
}

.actions .dislike-button {
  margin-right: 10px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #bb5a5a;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  float: left;
}

.actions .like-button:hover {
  background-color: #7f2f2f;
}

.comments-container {
  margin-top: 20px;
}

.comments-container ul {
  list-style-type: none;
  padding: 0;
}

.comments-container ul li {
  padding: 8px 0;
}

.comments-container ul li strong {
  font-weight: bold;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.search-container input[type="text"] {
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}

.search-container button {
  padding: 10px;
  background-color: #bb5a5a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.search-container button:hover {
  background-color: #7f2f2f;
}

.comment-input-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.comment-input-container input {
  padding: 7px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  color:  #722929;
}

.comment-input-container .comment-button {
  padding: 5px;
  color:  #bb5a5a;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: -30px; 
  transition: background-color 0.3s ease;
}

.comment-input-container .comment-button:hover {
  color:  #8d3939;
}

.delete-comment-button{
  padding: 5px;
  color:  #ffffff;
  background-color: #bb5a5a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: -30px; 
  transition: background-color 0.3s ease;
  float: right;
}

.comment-input-container .comment-button i {
  font-size: 14px;
}

@media (max-width: 768px) {
  .post {
      width: 100%;
      max-width: 500px;
  }

  .post-image {
      width: 100%;
  }

  .search-container {
      flex-direction: column;
      align-items: stretch;
  }

  .search-container input[type="text"] {
      width: 100%;
      margin-bottom: 10px;
  }

  .actions {
      flex-direction: column;
      align-items: flex-start;
  }
}